<div style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://images.unsplash.com/photo-1542351379-ec2b4cdc6f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);')" class="viktor-banner">
  <div class="viktor-title">
    <h1>Boat BnB</h1>
    <p>Book one of our boats or list your own!</p>
    <div class="boat_search">
      <%= form_tag root_path, method: :get, class: "w-100" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control sizing",
            placeholder: "Find your perfect boat by location or type"
          %>

      <% end %>
    </div>
  </div>
</div>

<div class="cards">


    <% @boats.each do |boat| %>
        <div class="card-trip">
          <%= link_to boat_path(boat) do %>
              <div class="card_image_container">
                <!-- <img class="card_image" src="<%= boat.image_url %>"/> -->
                <img class="card_image" src="<%= boat.photos.attached? ? cl_image_path(boat.photos.first.key) : boat.image_url %>"/>
              </div>
                <div class="card-trip-infos">
                    <div>
                      <p class="align_left"><%= boat.location_country %></p>
                      <h2><b><%= boat.name %></b></h2>
                    </div>
                    <div>
                      <p class="align_right">sleeps <%= boat.sleeps %></p>
                      <h2 class="card-trip-pricing">price per day: $<b><%= boat.daily_price %></b></h2>
                    </div>
                </div>
          <% end %>

      </div>
     <% end %>
<!--
       <div class="card-trip">
                <img src="https://images.unsplash.com/photo-1567899378494-47b22a2ae96a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
                <div class="card-trip-infos">
                  <div>
                    <h2>Tomorrow Never Dies</h2>
                    <p>Spain</p>
                  </div>
                  <h2 class="card-trip-pricing">$2,000</h2>
                </div>
        </div> -->


</div>
<!-- </div>

                <div class="card-trip">
                <img src="https://images.unsplash.com/photo-1567899378494-47b22a2ae96a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
                <div class="card-trip-infos">
                  <div>
                    <h2>Tomorrow Never Dies</h2>
                    <p>Spain</p>
                  </div>
                  <h2 class="card-trip-pricing">$2,000</h2>

                </div> -->
             <!--  <div class="card-trip">
                <img src="https://images.unsplash.com/photo-1540946485063-a40da27545f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
                <div class="card-trip-infos">
                  <div>
                    <p>France</p>
                    <h2>Moonlight Shadow</h2>
                  </div>
                  <h2 class="card-trip-pricing">price per day: $220</h2>

                 </div>
              </div>

              <div class="card-trip">
                <img src="https://images.unsplash.com/photo-1581271164789-7c97932822d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
                  <div class="card-trip-infos">
                    <div>
                      <h2>Harfin</h2>
                      <p>Greece</p>
                    </div>
                    <h2 class="card-trip-pricing">$450</h2>

                  </div>
              </div>

              <div class="card-trip">
                <img src="https://images.unsplash.com/photo-1558268295-a713169178e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1374&q=80" />
                <div class="card-trip-infos">
                  <div>
                    <h2>Wet Feet</h2>
                    <p>Italy</p>
                  </div>
                  <h2 class="card-trip-pricing">price per day: $280</h2>

                </div>
              </div>

              <div class="card-trip">
                <img src="https://images.unsplash.com/photo-1583200560150-53bb14229e0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80" />
                <div class="card-trip-infos">
                  <div>
                    <h2>Southern Star</h2>
                    <p>Turkey</p>
                  </div>
                  <h2 class="card-trip-pricing">$99</h2>

                </div>
              </div>

                <div class="card-trip">
                <img src="https://images.unsplash.com/photo-1567899378494-47b22a2ae96a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
                <div class="card-trip-infos">
                  <div>
                    <h2>Tomorrow Never Dies</h2>
                    <p>Spain</p>
                  </div>
                  <h2 class="card-trip-pricing">$2,000</h2>

                </div>
              </div>

                <div class="card-trip">
                <img src="https://images.unsplash.com/photo-1569263979104-865ab7cd8d13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80" />
                <div class="card-trip-infos">
                  <div>
                    <h2>Gin and Tonic</h2>
                    <p>Tunisia</p>
                  </div>
                  <h2 class="card-trip-pricing">$120</h2>
            s
                </div>
              </div>


 -->



    <div class="button_container">
      <div class="add_new"><%= link_to "List your Boat", new_boat_path %>
      </div>
    </div>
</div>






