
<div class="main_section">
    <h1>Add a boat</h1>

  <div class"new_content_container">
    <div>
      <h2 class="title">Add a new boat:</h2>
    </div>
    <%= simple_form_for [ @boat ] do |f| %>
      <%= f.input :name %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "List boat", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
