<h1> Details for <%= @boat.name %> </h1>
    <p> <%= @boat.name %> is a <%= @boat.boat_type %> built in <%= @boat.year_built %> </p>

<div class="container">
  <div class="row">
    <div class="col-8 col-sm-12">
    <%# <%= image_url(photo.key, class: "rounded show-image") %>
      <% if @boat.photo.attached? %>
        <%= cl_image_tag(@boat.photo.key, class: "rounded show-image mb-4") %>
      <% else %>
       <%=image_tag(@boat.image_url, class: "rounded show-image mb-4") %>
      <% end %>
    </div>

    <div class="col-4 col-sm-6">
      <h2>✨ Book this Boat ✨</h2>
      <%= simple_form_for [ @boat, @booking ] do |f| %>
        <input type="date" name="booking[start_date]" class="w-100">

        <input type="date" name="booking[end_date]" class="w-100">
        <%= f.submit "Book boat for these dates", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-6">
      <div class="map_and_features">
        <div class="features">
          <div class="left_info_column">
            <ul>
              <li>Name:</li>
              <li>Make:</li>
              <li>Length:</li>
              <li>Located in:</li>
              <li>Sleeps:</li>
              <li>Price per day in $:</li>
            </ul>
          </div>
          <div class="right_info_column">
            <ul>
              <li><b><%=@boat.name %></b></li>
              <li><b><%=@boat.make %></b></li>
              <li><b><%=@boat.length %></b></li>
              <li><b><%= @boat.address %></b></li>
              <li><b><%= @boat.sleeps %></b></li>
              <li><b><%= @boat.daily_price %></b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="map_container mt-4" style="width: 100%; height: 300px;">
      <div id="map"
        style="width: 100%; height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="pk.eyJ1IjoiYWtyZWlkZXdlaXNzIiwiYSI6ImNrZGE4andkeDB1OXIzNG9keWEwbDN3MnMifQ.NP1zthy8TVXNk8g8LADbSg"></div>
      </div>
    </div>
  </div>

  <div>
      <h2> Time for yourself</h2>
      <p> Hire this boat for fun, adventure and to create new memories!</p>
  </div>


</div>

<div class="container">
  <div class="row">
    <% @boat.photos.each do |photo| %>
      <div class="col-sm-12 col-md-6">
        <div class="interior-image" style="background-image: url(<%= cl_image_path(photo.key) %>);">
        </div>
      </div>
    <% end %>

  </div>
</div>
